@{
    ViewBag.Title = "Home Page";
}
<div class="hero-image">
    <div class="hero-text">
        <h1>The Italian Eatery</h1>
        <p>est. 2018</p>
        <p><a href="http://localhost:61983/Account/Login" button class="btn btn-light" style="color:#3E3F31 important!​">Order Now</a><p>
    </div>
</div>
<hr />
<div class="container">
    <div class="modal-body row">
        <div class="col-md-6">
            <h2 style="font-family:'Dancing Script', cursive;">Our Story</h2>
            <br />
            <p style="font-family:'Montserrat', sans-serif; line-height: 1.6;">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/Content/joanna-boj-17158-unsplash.jpg" class="float-right" style="height:300px;" />
        </div>
    </div>
</div>
<hr />
<center><h3 style="margin-bottom:10px; font-family:'Dancing Script', cursive;">come see what we have to offer</h3></center>

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div>
            <a href="#" target="_blank">
                <img src="~/Content/ivan-torres-478678-unsplash.jpg" alt="#" class="landing_img">
            </a>
            <p class="align-middle;" style="text-align:center; padding-top: 10px;">Delivered Fresh and Hot</p>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div>
            <a href="#" target="_blank">
                <img src="~/Content/paula-vermeulen-383310-unsplash.jpg" alt="#" class="landing_img">
            </a>
            <p style="text-align:center; padding-top: 10px;">See our menu</p>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div>
            <a href="#" target="_blank">
                <img src="~/Content/jorge-zapata-44723-unsplash.jpg" alt="#" class="landing_img">
            </a>
            <p style="text-align:center; padding-top: 10px;">Made fresh daily</p>
        </div>
    </div>
</div>

<hr />

<div class="banner-image">
    <div class="hero-text">
        <h1>"Best pizza in town!"</h1>
        <p>- Uma Bob</p>
    </div>
</div>
