@model PizzaDelivery.Models.Order

@{
    ViewBag.Title = "Purchase";
}

<h2>Purchase</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Confirm Purchase" class="btn btn-default" />
    </div>
    </div>
}